{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div>
        <h2>Login</h2>
        <form action="{{ url_for('auth.login') }}" method="POST">
            <div>
                <label>Email / Username Address</label>
                <input type="text" name="email" required placeholder="Enter email or 'admin'">
            </div>
            <button type="submit">Sign In</button>
        </form>
        <div>
            New here? <a href="{{ url_for('auth.register') }}">Register here</a>
        </div>
    </div>
{% endblock %}
